<aside class="about-us">
    <h4 class="green-header"><span class="green-header__arrow">О нас</span></h4>
    <div class="about-us__img" style="background-image:url('/content/static/temp/about-widget.jpg');"></div>
    <div class="about-us__title">
        <h2>leavingrussia.ru</h2>
    </div>
    <div class="about-us__txt">
        самый известный российский портал о местах России, которые мы незаслуженно забыли.
    </div>
    <br />
</aside>