<header>
    <div class="top-menu">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline top-menu__menu-left">
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {

                                <a href="#">Выход</a>

                            }
                            else
                            {
                                <a href="#">Вход в аккаунт</a>
                            }
                        </li>
                        <li>
                            <a href="#">Регистрация</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <ul class="list-unstyled list-inline top-menu__menu-right">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="top-body__logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img alt="leavingrussia.ru" src="~/content/static/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="top-body__partners">
                        partners
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
