<div class="social-groups">
    <div class="container">
        <ul>
            <li>
                <a href="#" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="#" target="_blank"><i class="fa fa-vk"></i><span>Вконтакте</span></a>
            </li>
            <li>
                <a href="#" target="_blank"><i class="fa fa-odnoklassniki"></i><span>Одноклассники</span></a>
            </li>
        </ul>
    </div>
</div>