<div class="top-menu">
    <div class="row">
        <div class="col-sm-6">
            <div class="menu-left">
                <ul class="list-unstyled list-inline">
                    <li><a href="#">Вход/Аккаунт</a></li>
                    <li><a href="#">Europe</a></li>
                    <li><a href="#">Pages</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="menu-right">
                <ul class="list-unstyled list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>