@model SxVMPicture[]
@{
    SxVMPicture item = null;
}

@if (Model.Any())
{
    <div class="best-pictures">
        <h4 class="best-pictures-instagram"><span><span class="title">follow me on instagram</span></span></h4>
        <ul>
            @for (int i = 0; i < Model.Length; i++)
            {
                item = Model[i];
                <li>
                    <a href="#" style="background-image:url('@Url.Action("Picture", "Pictures", new { id = item.Id })')"></a>
                </li>
            }
        </ul>
    </div>
}
