@model SxVMStatisticUserLogin[]
@{
    ViewBag.Title = "Статистика входов";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-user-logins">
    @Html.Partial("_UserLoginsGridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-user-logins').sx_gv();
        });
    </script>
}