@model SxVMBannedUrl[]
@{
    ViewBag.Title = "Забаненные адреса";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-banned-urls">
    @Html.Partial("_gridview", Model)
</div>


@section scripts{
    <script>
        $(function () {
            $('#grid-banned-urls').sx_gv();
        });
    </script>
}