@model SxVMBannerGroup[]
@{
    ViewBag.Title = "Группы баннеров";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-banner-groups">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-banner-groups').sx_gv();
        });
    </script>
}