@model SX.WebCore.SxAppUser
@{
    ViewBag.Title = "Подтверждение регистрации";
}

@section full{
    @if (Model != null)
    {
        <div class="container">
            <div class="alert alert-info">
                На электронный адрес <strong>@Model.Email</strong> отправлены дальнейшие инструкции по завершению регистрации
            </div>
        </div>
    }
}