@model SxVMSiteNet[]
@{
    SxVMSiteNet item = null;
}

@if (Model.Any())
{
    <ul class="list-unstyled list-inline top-menu__menu-right">
        @for (int i = 0; i < Model.Length; i++)
        {
            item = Model[i];
            <li><a href="@item.Url" target="_blank"><i class="@item.Net.LogoCssClass" aria-hidden="true"></i></a></li>
        }
    </ul>
}
