@model SxVMAppRole[]
@{
    ViewBag.Title = "Роли пользователей";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    На данной странице Вы можете задать роли пользователей, используемые на сайте
</div>

<div class="alert alert-warning">
    <b>Внимание!</b> Движок уже содержит набор ролей, необходимых для корректного функционирования
</div>

<div id="grid">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid').sx_gv();
        });
    </script>
}