<aside class="categories">
    <h4 class="green-header"><span class="green-header__arrow">Категории</span></h4>
    <br />
    <ul class="categories__list">
        <li>
            <a href="#"><i class="fa"></i>Destinations</a>
            <ul>
                <li><a href="#">Africa</a></li>
                <li><a href="#">Asia</a></li>
                <li><a href="#">Europe</a></li>
            </ul>
        </li>
        <li><a href="#">Feautered</a></li>
        <li><a href="#">Travel tips</a></li>
    </ul>
</aside>
