@model VMArticle[]
@{
    VMArticle item = null;
}

@if (Model.Any())
{
    <aside class="last-materials">
        <ul class="last-materials__list">
            @for (int i = 0; i < Model.Length; i++)
            {
                item = Model[i];
                <li class="last-materials__item">
                    <div class="last-materials__item-img" style="background-image:url('@(i%2==0?"/content/static/temp/lakekayak-585x390.jpg":"/content/static/temp/redwoods-585x390.jpg")')">
                        <a href="@item.GetUrl(Url)"></a>
                    </div>
                    <div class="last-materials__item-content">
                        <h4 class="last-materials__item-title">
                            <a href="@item.GetUrl(Url)">@item.Title</a>
                        </h4>
                        <div class="last-materials__item-date">September 4, 2015</div>
                    </div>
                    <hr />
                </li>
            }
        </ul>
        <br />
    </aside>
}