@model VMArticle

<div class="read-now-article">
    <div class="read-now-article__img" style="background-image:url('/content/static/temp/my-journey.jpg')">
        <a href="@Model.GetUrl(Url)"></a>
    </div>
    <div class="read-now-article__txt">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
    </div>
</div>
