@model SxVMShareButton[]
@{
    ViewBag.Title = "Кнопки шар";
}

@section styles{
    <style>
        #grid-share-buttons tbody .col-first{
            width:0;
            text-align:center;
            vertical-align:middle;
        }
    </style>
    }

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-share-buttons">
    @Html.Partial("_gridview", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-share-buttons').sx_gv();
        });
    </script>
}