@model SxVMShareButton[]
@{
    ViewBag.Title = "Кнопки шар";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-share-buttons">
    @Html.Partial("_gridview", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-share-buttons').sx_gv();
        });
    </script>
}