@import (reference) "colors.less";
@import (reference) "sizes.less";
@import (reference) "mixins.less";
@import (reference) "../bower_components/bootstrap/less/variables.less";
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic';

@transition: all .5s;

@PTSansNarrow: 'PT Sans Narrow', sans-serif;

a:not(.btn), a:link:not(.btn), a:active:not(.btn), a:visited:not(.btn), a:focus:not(.btn), button:not(.btn), button:link:not(.btn), button:visited:not(.btn), button:active:not(.btn), button:focus:not(.btn), input:focus:not(.btn) {
    color: inherit;
    outline: none;
}

ul {
    margin: 0;
}

.field-validation-error {
    color: @color-danger;
    font-size: 11px;
}

.input-validation-error {
    border-color: @color-danger;
}

body {
    color: @color-black;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('/content/static/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

aside {
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    background-color: @color-white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

    @media (max-width: @screen-xs-max) {
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        max-width: 780px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        max-width: 1000px;
    }

    @media (min-width: @screen-lg-min) {
        max-width: 1200px;
    }
}


.btn {
    border-radius: 0;
    transition: @transition;
    text-transform: uppercase;
    background: #F5F5F5;
    color: @color-black;
    font-weight: 700;
    padding: @def-pad 0;
}

.btn:hover {
    background-color: @color-green-muted;
    color: @color-white !important;
}

.form-control {
    height: 44px;
    border-radius: 0;
    resize: none;
    border-color: @color-gray-light;
}

textarea.form-control {
    min-height: 120px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ccc;
}

//two-arrow-header
.two-arrow-header {
    text-align: center;
    margin-top: 0;
    position: relative;
    display: inline-block;
}

.two-arrow-header span {
    text-transform: uppercase;
    text-align: center;
    font-family: @PTSansNarrow;
    font-weight: 700;
    padding: 0 @def-pad - 5px;
}

.two-arrow-header::before, .two-arrow-header::after {
    content: '';
    height: 1px;
    background-color: @color-green-muted;
    position: absolute;
    top: 50%;
    width: 60px;

    @media (max-width: @screen-xs-max) {
        max-width: 20px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.two-arrow-header::before {
    left: auto;
    right: 100%;
}

.two-arrow-header::after {
    right: 0;
    left: 100%;
}

//header
.top-menu {
    background-color: @color-black;
    color: @color-white;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: @PTSansNarrow;
}

.top-menu a {
    text-decoration: none;
    transition: @transition;
}

.top-menu a:hover {
    color: @color-green-muted;
}

.top-menu__btn-panel {
    color: @color-gray !important;
    text-transform: none;
}

.top-body {
    padding: 20px 0;
}

.top-body__logo img {
    max-width: 100%;
}

.top-body__partners {
    text-align: right;
}

.top-body__partners > img {
    max-width: 100%;
}

//navbar
.navbar, .navbar-default {
    border-radius: 0;
}

.navbar-brand {
    height: 60px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: @PTSansNarrow;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700 !important;
}

.navbar-default .navbar-nav > li > a {
    transition: @transition;
    text-transform: uppercase;
    color: @color-black;
    font-weight: 400;
    font-family: @PTSansNarrow;
}

.navbar-default .navbar-nav > li > a:hover {
    color: @color-green-muted;
}

.navbar-default .navbar-nav > .active > a {
    color: @color-green-muted;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: none;
    box-shadow: none;
}

//gallery
.gallery {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;

    @media (max-width: @screen-xs-max) {
        height: 318px*3+10px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        height: 480px+245px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 410px;
    }

    @media (min-width: @screen-lg-min) {
        height: 516px;
    }
}

.gallery__wrapper {
    .reset-ul;
    width: 100%;
    color: @color-white;
    opacity: 0;
    position: absolute;

    @media (max-width: @screen-xs-max) {
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 720px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        width: 940px;
    }

    @media (min-width: @screen-lg-min) {
        width: 1140px;
    }
}

.gallery__wrapper.active {
    opacity: 1;
}

.gallery .gallery__item {
    float: left;
    overflow: hidden;
    position: relative;

    @media (max-width: @screen-xs-max) {
        float: none;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.gallery .gallery__item-1 {
    margin-right: 10px;

    @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 318px;
        margin: 0;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 720px;
        height: 480px;
        margin: 0;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        width: 640px;
        height: 410px;
    }

    @media (min-width: @screen-lg-min) {
        width: 780px;
        height: 516px;
    }
}

.gallery .gallery__item-2, .gallery .gallery__item-3 {
    @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 318px;
        margin-top: 6px;
        padding: 0 !important;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 50%;
        height: 240px;
        margin-top: 6px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        width: 290px;
        height: 205px;
    }

    @media (min-width: @screen-lg-min) {
        width: 350px;
        height: 258px;
    }
}

.gallery .gallery__item-2 {
    padding-bottom: 5px;

    @media (max-width: @screen-xs-max) {
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding: 0;
        padding-right: 3px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.gallery .gallery__item-3 {
    padding-top: 5px;

    @media (max-width: @screen-xs-max) {
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding: 0;
        padding-left: 3px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.gallery .gallery__img {
    height: 100%;
    overflow: hidden;
    .img-cover;
    position: relative;
}

.gallery .gallery__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    opacity: 0.3;
    transition: @transition;
    z-index: 1;
}

.gallery .gallery__link:hover {
    opacity: .5;
}

.gallery .gallery__item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 @def-pad*2 @def-pad*2;
    width: 100%;
    z-index: 2;
    .no-select;
}

.gallery .gallery__item-1 .gallery__item-title {
    font-size: 18px;

    @media (max-width: @screen-xs-max) {
        font-size: 16px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.gallery .gallery__item-title {
    text-transform: uppercase;
    font-size: 16px;
    font-family: @PTSansNarrow;
}

.gallery .gallery__item-title a {
    text-decoration: none;
}

.gallery .gallery__item-meta .author::after {
    content: '|';
    margin-left: @def-pad;
    margin-right: 10px;
}

.gallery .gallery__nav {
    .reset-ul;
}

@gallery__nav-btn-size: 36px;

.gallery .gallery__nav-btn {
    width: @gallery__nav-btn-size;
    height: @gallery__nav-btn-size;
    display: block;
    background-color: @color-white;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    line-height: @gallery__nav-btn-size;
    left: @def-pad*2;
    font-size: 20px;
    margin-top: -20px;
    transition: @transition;
    opacity: 0;
    z-index: 2;
}

.gallery .gallery__nav-btn > i {
    margin-right: 2px;
}

.gallery .gallery__nav-btn.next > i {
    margin-right: -2px;
}

.gallery:hover .gallery__nav-btn {
    opacity: 1;
}

.gallery .gallery__nav-btn:hover {
    background-color: @color-green-muted;
    color: @color-white;
}

.gallery .gallery__nav-btn.next {
    right: @def-pad*2;
    left: auto;
}

//block
.block {
    display: table;
}

.block .block__left, .block .block__right {
    @media (max-width: @screen-xs-max) {
        display: block;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: block;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: table-cell;
        vertical-align: top;
    }

    @media (min-width: @screen-lg-min) {
        display: table-cell;
        vertical-align: top;
    }
}

.block .block__left {
    @media (max-width: @screen-xs-max) {
        width: 100%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 100%;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        width: 640px;
    }

    @media (min-width: @screen-lg-min) {
        width: 780px;
    }
}

.block .block__right {
    @media (max-width: @screen-xs-max) {
        margin-top: 10px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top: 10px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        padding-left: 40px;
        width: 300px;
    }

    @media (min-width: @screen-lg-min) {
        padding-left: 40px;
        width: 360px;
    }
}

//home-materials
.home-material.first {
    margin-top: 0;
}

.home-material.first .home-material__img {
    height: auto;
    width: auto;
    float: none;
    text-align: center;
}

.home-material.first .home-material__img > img {
    max-width: 100%;
    width: 100%;
}

.home-material.first .home-material__content {
    margin-left: 0;
    text-align: center;
}

.home-material.first .home-material__category {
    margin-top: @def-pad;
}

.home-material.first .home-material__title a {
    font-size: 25px;
}
//--------
.home-material {
    margin-top: @def-pad*2;
}

.home-material__img {
    position: relative;
    transition: @transition;

    @media (max-width: @screen-xs-max) {
        width: 100%;
        min-height: 200px;
        margin-bottom: @def-pad;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 100%;
        min-height: 200px;
        margin-bottom: @def-pad;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        width: 293px;
        height: 193px;
        overflow: hidden;
        float: left;
    }

    @media (min-width: @screen-lg-min) {
        width: 360px;
        height: 240px;
        overflow: hidden;
        float: left;
    }
}

.home-material:not(.first) .home-material__img:hover {
    .img-hover-opacity;
}

.home-material__img > a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .img-cover;
}

.home-material__content {
    @media (max-width: @screen-xs-max) {
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-left: 320px;
        text-align: left;
    }

    @media (min-width: @screen-lg-min) {
        margin-left: 390px;
        text-align: left;
    }
}

.home-material__category {
    text-transform: uppercase;
}

.home-material__category > a {
    color: @color-green-muted !important;
}

.home-material__title {
    text-transform: uppercase;
}

.home-material__title h2 {
    margin: 0;
}

.home-material__title a {
    font-size: 18px;
    transition: @transition;
}

.home-material__title a:hover {
    color: @color-gray !important;
}

.home-material__author {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    font-family: @PTSansNarrow;
}

.home-material__author a {
    text-decoration: none;
    color: @color-gray !important;
}

.home-material__date {
    position: absolute;
    width: 130px;
    left: 100%;
    padding-left: @def-pad;
    color: @color-gray;
}

.home-material__author::after {
    content: '';
    background-color: @color-green-muted;
    height: 1px;
    display: inline-block;
    width: 80%;
}

.home-material__html {
    text-align: left;
    .txt;
}

.home-material__read-btn {
    width: 200px;
    display: inline-block;
}

.home-material__read-btn a {
    display: block;
    text-decoration: none;
}

.home-material__title a {
    color: @color-black !important;
    text-decoration: none;
}

.home-material__meta {
    border: 1px solid @color-gray-light;
    border-left: none;
    border-right: none;
    margin-top: @def-pad*2;
    display: table;
    width: 100%;
    padding: @def-pad 0;
    color: @color-gray;
    font-style: italic;
}

.home-material__meta-left, .home-material__meta-right {
    display: table-cell;
}

.home-material__meta-left {
    text-align: left;
}

.home-material__meta-left .calendar::after {
    content: '|';
    margin-left: 10px;
}

.home-material__meta-right {
    text-align: right;
}

.home-material hr {
    margin: @def-pad 0 @def-pad*2;
}

//green-header
.green-header {
    text-align: center;
    position: relative;
    border: 1px solid @color-green-muted;
    margin: 0;
    padding: 0 5px;
    .no-select;
}

.green-header__arrow {
    display: block;
    padding: 10px 0;
    position: relative;
    top: 5px;
    background-color: @color-green-muted;
    color: @color-white;
    text-transform: uppercase;
    font-family: @PTSansNarrow;
}

.green-header::after {
    content: '';
    border-style: solid;
    border-color: @color-green-muted transparent transparent;
    bottom: -12px;
    border-width: 7px;
    border-bottom: 0;
    margin-left: -7px;
    position: absolute;
}

//header-d-arrow
.header-d-arrow {
    margin-bottom: @def-pad*2;
    margin-top: 0;
    .no-select;
}

.header-d-arrow .header-d-arrow__span {
    text-transform: uppercase;
    font-family: @PTSansNarrow;
    font-weight: 700;
    padding-bottom: @def-pad;
    border-bottom: 1px solid @color-green-muted;
    display: block;
    position: relative;
}

.header-d-arrow .header-d-arrow__span::after {
    content: '';
    background-color: @color-green-muted;
    height: 1px;
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0;
}

//about-us
.about-us__img {
    height: 220px;
    margin-top: @def-pad*2;
    .img-cover;
}

.about-us__title {
    text-align: center;
    font-family: @PTSansNarrow;
}

.about-us__txt {
    .txt;
    text-align: center;
}

//join-us
.join-us__icons {
    margin-top: @def-pad*2;
}

.join-us__icons ul {
    margin-left: 0;
    display: inline-block;
    width: 100%;
}

.join-us__icons li {
    width: 25%;
    margin-bottom: @def-pad;
    padding: 0;
    text-align: center;
    float: left;
}

.join-us__icons a {
    width: 36px;
    height: 36px;
    border: 1px solid @color-gray-light;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    transition: @transition;
}

.join-us__icons a:hover {
    background-color: @color-green-muted;
    color: @color-white;
    border-color: @color-green-muted;
}

//last-pictures

.last-pictures .green-header {
    margin-bottom: @def-pad;
}

.last-pictures__box {
    margin: 0 -5px;
}

.last-pictures ul {
    .reset-ul;
    font-size: 0;
}

.last-pictures ul > li {
    display: inline-block;
    width: 33.33%;
    position: relative;
    padding-bottom: 33.33%;
    vertical-align: top;

    @media (max-width: @screen-xs-max) {
        width: 50%;
        padding-bottom: 50%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.last-pictures ul > li:last-child {
    @media (max-width: @screen-xs-max) {
        display: none;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.last-pictures__img {
    .img-cover;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    transition: @transition;
}

.last-pictures__img::before, .last-pictures__img::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    transform: scale(0,1);
    transition: opacity 0.35s, transform 0.35s;
}

.last-pictures__img::after {
    transform: scale(1,0);
    opacity: 0;
}

.last-pictures__img::before {
    border-top: 1px solid @color-white;
    border-bottom: 1px solid @color-white;
}

.last-pictures__img::after {
    border-left: 1px solid @color-white;
    border-right: 1px solid @color-white;
}

.last-pictures__img:hover {
    .img-hover-opacity;
}

.last-pictures__img:hover::before, .last-pictures__img:hover::after {
    transform: scale(1);
    opacity: 1;
}

//last-materials
.last-materials__list {
    .reset-ul;
}

.last-materials__item {
    display: inline-block;
    width: 100%;
}

.last-materials__item:last-child hr {
    display: none;
}

.last-materials__item-img {
    width: 120px;
    height: 80px;
    .img-cover;
    transition: @transition;
    position: relative;
    float: left;
}

.last-materials__item-img > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.last-materials__item-img:hover {
    .img-hover-opacity;
}

.last-materials__item-content {
    margin-left: 140px;
    min-height: 80px;
}

.last-materials__item-title {
    margin: 0;
}

.last-materials__item-title a {
    text-decoration: none;
    transition: @transition;
    font-family: @PTSansNarrow;
    font-weight: 700;
}

.last-materials__item-title a:hover {
    color: @color-green-muted;
}

.last-materials__item-date {
    color: @color-gray;
    font-family: @PTSansNarrow;
}

//categories
.categories__list, .categories__list ul {
    .reset-ul;
}

.categories__list ul {
    padding-left: @def-pad;
}

.categories__list a::before {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 10px;
    font-size: 90%;
}

.categories__list a {
    display: block;
    border-bottom: 1px solid @color-gray-light;
    line-height: 40px;
    transition: @transition;
    text-decoration: none;
}

.categories__list a:hover {
    color: @color-green-muted;
    text-decoration: underline;
}

//read-now-article
.read-now-article__img {
    .img-cover;
    height: 201px;
    margin-bottom: @def-pad;
    position: relative;

    @media (max-width: @screen-xs-max) {
        height: 300px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        height: 300px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.read-now-article__img > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.read-now-article__txt {
    .txt;
}

//pre-footer
.pre-footer {
    margin-top: @def-pad*4;
}

.pre-footer > hr {
    margin-bottom: @def-pad*4;
}

.pre-footer aside {
    @media (max-width: @screen-xs-max) {
        margin-bottom: @def-pad*4;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-bottom: @def-pad*4;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

//subscribe
.subscribe__intro {
    text-align: center;
    .txt;
}

.subscribe .form-control {
    margin-top: @def-pad;
}

.subscribe .btn {
    width: 100%;
}

//best-pictures
.best-pictures {
    overflow: hidden;
    position: relative;
}

.best-pictures ul {
    .reset-ul;
    font-size: 0;
}

.best-pictures li {
    width: 16.66%;
    padding-bottom: 16.66%;
    position: relative;
    display: inline-block;
    vertical-align: top;

    @media (max-width: @screen-xs-max) {
        width: 33.33%;
        padding-bottom: 33.33%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 33.33%;
        padding-bottom: 33.33%;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.best-pictures li > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .img-cover;
    transition: @transition;
}

.best-pictures li > a::before, .best-pictures li > a::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

.best-pictures li > a::before {
    border-top: 1px solid @color-white;
    border-bottom: 1px solid @color-white;
    transform: scale(0,1);
}

.best-pictures li > a::after {
    border-left: 1px solid @color-white;
    border-right: 1px solid @color-white;
    transform: scale(1,0);
}

.best-pictures li > a:hover::before, .best-pictures li > a:hover::after {
    transform: scale(1);
    opacity: 1;
}

.best-pictures-instagram {
    position: absolute;
    height: 50px;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
    top: 50%;
    margin: -25px 0 0;
    left: 0;
    width: 100%;
}

.best-pictures-instagram > span {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    background: @color-white;
    color: @color-gray;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 10;
    letter-spacing: 1px;
    vertical-align: top;
    position: relative;
    font-weight: 700;
    .no-select;
}

.best-pictures-instagram .title {
    padding: 0;
    background: none;
    position: relative;
    z-index: 10;
    font-family: @PTSansNarrow;
}

//footer
footer {
    background: #313131;
    color: @color-gray;
    margin-top: @def-pad*3;
}

.social-groups {
}

.social-groups ul {
    .reset-ul;
    padding: @def-pad*2 0;
    text-align: center;
    border-bottom: 1px solid #4A4A4A;
}

.social-groups ul > li {
    display: inline-block;
}

.social-groups ul > li > a {
    text-decoration: none;
    transition: @transition;
    font-family: @PTSansNarrow;
    font-weight: 700;
    padding-right: @def-pad;
    display: block;
    padding-bottom: @def-pad;
}

.social-groups ul > li > a:hover {
    color: @color-green-muted;
}


.social-groups ul > li > a:hover > i {
    border-color: @color-green-muted;
    background-color: @color-green-muted;
    color: @color-white;
}

.social-groups ul > li > a > i {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 1px solid @color-gray;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    transition: @transition;
}

.social-groups ul > li > a > span {
    text-transform: uppercase;
    margin-left: @def-pad;
}

//post-footer
.post-footer {
    padding: @def-pad*2 0;
}

.post-footer a[href^="mailto:"] {
    color: @color-white;
}

//btn-top-top
.btn-top-top {
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: @PTSansNarrow;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-top: @def-pad;
    margin-top: @def-pad;
    transition: @transition;
}

.btn-top-top > i {
    position: absolute;
    top: 0;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    font-size: 18px;
}

.btn-top-top:hover {
    color: @color-white !important;
}

//material
.material__info {
    text-align: center;
    margin-bottom: @def-pad*2;
}

.material__category {
    text-transform: uppercase;
    color: @color-green-muted;
    font-family: @PTSansNarrow;
}

.material__title h1 {
    text-transform: uppercase;
    font-family: @PTSansNarrow;
    font-size: 25px;
}

.material__img {
    margin-bottom: @def-pad*2;
}

.material__img > img {
    width: 100%;
}

.material__html {
    .txt;
    margin-bottom: @def-pad*2;
}

.material__author {
    .reset-ul;
}

.material__author > li {
    display: inline-block;
    color: @color-gray;
}

.material__author > li:first-child {
    font-style: italic;
}

.material__author > li:first-child::after {
    content: '|';
    padding: 0 @def-pad - 5px 0 @def-pad;
    font-style: normal;
}

.material__author-name {
    font-style: normal;
    color: @color-black;
}

.material__author-name a {
    text-decoration: none;
    transition: @transition;
}

.material__author-name a:hover {
    color: @color-green-muted;
}

.material .tags-cloud {
    margin-bottom: @def-pad*2;
}

.material-bottom {
    border-top: 1px solid @color-gray-light;
    border-bottom: 1px solid @color-gray-light;
    .reset-ul;
    text-align: center;
    padding: @def-pad 0;
    margin-bottom: @def-pad*2;
}

.material-bottom > li {
    display: inline-block;
    color: @color-gray;
    vertical-align: top;
}

.material-bottom > li::after {
    content: '|';
    padding: 0 @def-pad - 5px 0 @def-pad;
}

.material-bottom > li:last-child::after {
    content: none;
}

.material__likes-up-count {
    font-style: italic;
    color: @color-green-muted;
    margin-right: @def-pad - 5px;
    font-weight: 700;
}

.material__author-info {
    margin-bottom: @def-pad*2;
}

.material__author-info--img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    .img-cover;
    margin-right: 20px;
    float: left;

    @media (max-width: @screen-xs-max) {
        width: 80px;
        height: 80px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.material__author-info--content {
    margin-left: 120px;

    @media (max-width: @screen-xs-max) {
        margin-left: 0;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.material__author-info--title {
    text-transform: uppercase;
    font-family: @PTSansNarrow;
    font-size: 15px;
    font-weight: 700;
}

.material__author-info--title > a {
    text-decoration: none;
    transition: @transition;
}

.material__author-info--title > a:hover {
    color: @color-green-muted;
}

.material__author-info--desc {
    .txt;
}

.material__author-info--share-btns {
    margin-top: @def-pad !important;
    .reset-ul;
}

.material__author-info--share-btns > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
}

.material__author-info--share-btns > li > a {
    transition: @transition;
}

.material__author-info--share-btns > li > a:hover {
    color: @color-green-muted !important;
}

//like-materials
.like-materials {
    margin: @def-pad*2 0;
    border-bottom: 1px solid @color-gray-light;
}

.like-materials .two-arrow-header {
    margin-bottom: @def-pad*2;
}

.like-material {
    text-align: center;
    margin-bottom: @def-pad*2;
}

.like-material__img {
    .img-cover;
    position: relative;
    transition: @transition;

    @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 200px;
        display: inline-block;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 80%;
        height: 200px;
        display: inline-block;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 130px;
    }

    @media (min-width: @screen-lg-min) {
        height: 160px;
    }
}

.like-material__img:hover {
    .img-hover-opacity;
}

.like-material__img > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.like-material__title {
    margin: 0;
}

.like-material__title > a {
    transition: @transition;
    text-transform: uppercase;
    font-size: 16px;
    font-family: @PTSansNarrow;
    text-decoration: none;
    font-weight: 700;
}

.like-material__title > a:hover {
    color: @color-green-muted;
}

.like-material__date {
    color: @color-gray;
    font-family: @PTSansNarrow;
}

//tags-cloud
.tags-cloud {
    .reset-ul;
    font-size: 1em;
}

.tags-cloud > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tags-cloud > li > a {
    color: @color-gray !important;
    padding: 5px @def-pad - 5px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: @PTSansNarrow;
    font-size: 13px;
    transition: @transition;
    border: 1px solid @color-gray-light;
}

.tags-cloud > li.current > a {
    color: @color-green-muted !important;
    font-weight:700;
}

.tags-cloud > li > a:hover {
    background-color: @color-green-muted;
    color: @color-white !important;
    border-color: @color-green-muted;
}

//material-comments
.new-comment {
}

.new-comment .two-arrow-header {
    margin-bottom: @def-pad*2;
}

.new-comment__send-btn {
    margin-top: 20px;
    padding: @def-pad @def-pad*2;
}

.comments {
    padding-top: @def-pad*2;
}

.comments .two-arrow-header {
    margin-bottom: @def-pad*2;
}

.comment {
    margin-bottom: @def-pad*2;
    display: inline-block;
    width: 100%;
}

.comment:last-child {
    border-bottom: none;
}

.comment__author-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
    .img-cover;
}

.comment__content {
    margin-left: 60px + 20px;
    border-bottom: 1px solid @color-gray-light;
}

.comment__author-title {
    text-transform: uppercase;
    font-family: @PTSansNarrow;
    margin-bottom: 10px;
}

.comment__author-title > a, .comment__author-title > span {
    font-weight: 700;
}

.comment__author-title > a {
    text-decoration: none;
    transition: @transition;
}

.comment__author-title > a:hover {
    color: @color-gray;
}

.comment__date {
    color: @color-gray;
    font-size: 12px;
}

.comment__txt {
    .txt;
    margin: @def-pad*2 - 10px 0;
}

//details-header
.details-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    font-family: @PTSansNarrow;
    position: relative;
}

.details-header h1 {
    display: inline-block;
    font-size: 1em;
    font-weight: inherit;
    color: @color-green-muted;
}

.details-header::before, .details-header::after {
    content: '';
    height: 1px;
    background-color: @color-green-muted;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.details-header::before {
    width: 90px;
    margin-left: -45px;
}

.details-header::after {
    width: 60px;
    margin-left: -30px;
    bottom: -5px;
}

//list-material

.list-material {
    text-align: center;
    margin-bottom: @def-pad*3;
}

.list-material a {
    text-decoration: none;
    transition: @transition;
}

.list-material a:hover {
    color: @color-gray;
}

.list-material.first {
    margin-top: @def-pad*2 + 5px;
}

.list-material__img > img {
    width: 100%;
}

.list-material:not(.first) .list-material__img {
    height: 250px;
}

.list-material__img > a {
    width: 100%;
    height: 100%;
    display: block;
    .img-cover;
    transition:@transition;
}

.list-material__img > a:hover{
    .img-hover-opacity;
}

.list-material__category {
    margin-top: @def-pad;
    text-transform: uppercase;
    color: @color-green-muted;
}

.list-material__category a:hover {
    text-decoration: underline;
    color: @color-green-muted;
}

.list-material__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: @def-pad;
}

.list-material__title > h2 {
    font-size: 18px;
    margin: 0;
}

.list-material__user {
    margin-top: @def-pad;
    color: @color-gray;
    font-style: italic;
    font-family: @PTSansNarrow;
    position: relative;
}

.list-material__user--name > a {
    color: @color-black !important;
    transition: @transition;
}

.list-material__user--name > a:hover {
    color: @color-green-muted !important;
}

.list-material__user--name > a::after {
    content: '|';
    padding: 0 10px 0 @def-pad;
    font-style: normal;
    color: @color-gray;
}

.list-material.first .list-material__user--name > a::after {
    content: '';
    padding: 0;
}

.list-material__user::after {
    content: '';
    height: 1px;
    background-color: @color-green-muted;
    position: absolute;
    bottom: -10px;
    width: 60px;
    left: 50%;
    margin-left: -30px;
}

.list-material__fwd {
    .txt;
    text-align: left;
    margin-top: @def-pad + 10px;
}

.list-material__read-btn {
    margin-top: @def-pad;
}

.list-material__read-btn > a {
    width: 200px;
}

.list-material__meta {
    border-top: 1px solid @color-gray-light;
    border-bottom: 1px solid @color-gray-light;
    margin-top: @def-pad*2;
    font-style: italic;
    color: @color-gray;
    display: inline-block;
    width: 100%;
    padding: @def-pad 0;
}

.list-material__meta-left, .list-material__meta-right {
    width: 50%;
    float: left;
    text-align: left;
    @media (max-width: @screen-xs-max) {
        float:none;
        width:100%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.list-material__meta-left .calendar::after{
    content:'|';
    padding:0 10px 0 @def-pad;
    font-style:normal;
}


.list-material__meta-right {
    text-align: right;

    @media (max-width: @screen-xs-max) {
        text-align: left;
        margin-top:@def-pad;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}
