@model SxVMVideo[]
@{
    ViewBag.Title = "Видео сайта";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-videos">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-videos').sx_gv();
        });
    </script>
}