@model SxVMMaterialCategory[]

<aside class="categories">
    <h4 class="green-header"><span class="green-header__arrow">Категории</span></h4>
    <br />
    @Html.SxTree(Model, new SxExtantions.SxTreeSettings<SxVMMaterialCategory>
{
    FuncChildren = x => { return x.Items; },
    FuncContent = x => { return "<a href=\""+ Url.Action("List", "Articles", new { cat = x.Id }) + "\">"+x.Title+"</a>" ; }
}, new { @class= "categories__list" })
</aside>

