@model SxVMAppUser[]
@{
    Layout = null;
}

@Html.SxGridView(Model, new SxExtantions.SxGridViewSettings<SxVMAppUser>()
{
    Columns = new SxExtantions.SxGridViewColumn<SxVMAppUser>[] {
        new SxExtantions.SxGridViewColumn<SxVMAppUser> { FieldName="NikName", Caption="Ник-нейм"},
        new SxExtantions.SxGridViewColumn<SxVMAppUser> { FieldName="Email", Template=(m)=> {
                return string.Format("<a href=\"mailto:{0}\">{0}</a>", m.Email);
            }},
        new SxExtantions.SxGridViewColumn<SxVMAppUser> { FieldName="IsOnline", Caption="Статус", Template=(u)=> {
                return u.IsOnline?string.Format("<span class=\"badge\">online</span>"):null;
            }, EnableSorting=false}
    },
    EnableEditing = true,
    EditRowUrl = (x) => { return Url.Action("Edit", "Users", new { id = x.Id }); },
    DataAjaxUrl = Url.Action("Index", "Users")
})