@model SxVMAppUser[]
@{
    ViewBag.Title = "Управление пользователями";
}

@section styles{
    <link rel="stylesheet" href="~/content/dist/css/grid-users.min.css" />
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid').sx_gv();
        });
    </script>
}